body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.left-column {
    background-color: blue;
    width: 66%;
    float: left;
}

.right-column {
    background-color: red;
    width: 34%;
    float: left;
}

.bl-row {
    width: 100%;
    height: 50px;
}

.bl-product {
    width: 30%;
    float: left;
    line-height: 50px;
}

.bl-count {
    width: 30%;
    float: left;
}
.bl-buttons {
    width: 40%;
    float: left;
}

.bl-row {
    background-color: white;
    border-bottom: 1px solid grey;
    /*border-bottom-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;*/
}

.bl-background {
    background: #fff00a;
    padding: 20px;
}

.bl-list {
    border: 1px solid grey;
    margin-bottom: 10px;
}

.bl-bought {

}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
}
.bl-plus {
    background: #04a613;
}