body {
    margin: 0;
    background: #dad9d9;
}

.bl-background {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #dad9d9;
}

.container {
    width: 100%;
    max-width: 700px;
    min-height: 360px;
    padding: 45px;
    margin: auto;

}

.left-column {
    box-sizing: border-box;
    background-color: white;
    width: 65%;
    float: left;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 45px;
}

.right-column {
    box-sizing: border-box;
    background-color: white;
    width: 30%;
    float: right;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
    .left-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .right-column {
        width: 100%;
    }
}

input[type=text] {
    padding: 5px;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    border-radius: 4px;
    width: 75%;
}

.bl-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px;
    border-bottom: 0.4px solid grey;
}

.bl-row:last-child {
    border: 0;
}

.bl-row:first-child {
    border-top: 0.4px solid grey;
}

.bl-new {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px;
}

.bl-product {
    font-family: Tahoma, serif;
    font-size: 14px;
    width: 35%;
    float: left;
    line-height: 50px;
}

.bl-count {
    font-size: 14px;
    width: 30%;
    float: left;
    line-height: 50px;
    text-align: center;
}

.bl-buttons {
    font-size: 14px;
    line-height: 50px;
    width: 35%;
    float: right;
    text-align: right;
}

.title {
    font-family: Tahoma, serif;
    font-size: 14px;
}

.number {
    font-family: Tahoma, serif;
    font-size: 14px;
}

.title-remain {
    margin: auto 0;
    font-family: Tahoma, serif;
}

.title-bought {
    margin: auto 0 auto 0;
    font-family: Tahoma, serif;
}

.bl1-segment {
    border-bottom: 0.4px solid grey;
    padding: 5px;
}

.bl2-products {
    min-height: 40px;
    height: 100%;
    padding: 2px;
    border-bottom: 0.4px solid grey;
}

.bl3-segment {
    padding: 5px;
    border-bottom: 0.4px solid grey;
}

.bl4-bought_products {
    min-height: 40px;
    height: 100%;
    padding: 2px;
}

.remaining-label {
    border-radius: 7px;
    margin: 3px;
    background-color: #E8E8E8;
    display: inline-block;
    line-height: 25px;
    padding-left: 3px;
    padding-right: 3px;
}


.number {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 500rem;
    background-color: #ff6512;
}

/*Кнопки*/
.bl-label {
    font-family: Tahoma, serif;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    background: #E8E8E8;
}

.bl-plus {
    color: white;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50%;
    background: #21BA45;
    box-shadow: 0 1px #24663e;
    outline: none;
}

.bl-plus:hover {
    background-color: #3e8e41
}

.bl-plus:active {
    transform: translateY(1px);
}

.bl-minus {
    color: white;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px #661114;
    outline: none;
    background: #ff6259;
}

.bl-minus:hover {
    background-color: #a32629
}

.bl-minus:active {
    transform: translateY(1px);
}

.bl-buy {
    font-family: Tahoma, serif;
    font-size: 14px;
    text-align: center;
    height: 20px;
    width: 79px;
    border: 0;
    outline: none;
    background: #e7e7e7;
    box-shadow: 0 1px #8a8589;
    border-radius: 2px;
}

.bl-unbuy {
    font-family: Tahoma, serif;
    font-size: 14px;
    text-align: center;
    height: 20px;
    width: 100px;
    border: 0;
    outline: none;
    background: #e7e7e7;
    box-shadow: 0 1px #8a8589;
    border-radius: 2px;
}

.bl-delete {
    font-family: Tahoma, serif;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 0;
    box-shadow: 0 1px #661114;
    outline: none;
    background: #DB2828;
}

.bl-delete:hover {
    background-color: #a32629
}

.bl-add {
    font-family: Tahoma, serif;
    cursor: pointer;
    background-color: #4b95d0;
    color: white;
    width: 20%;
    float: right;
    text-align: center;
    font-size: 14px;
    border: 0;
    box-shadow: 0 1px #8a8589;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.badge {
    position: fixed;
    bottom: -130px;
    left: 20px;
    width: 100px;
    height: 180px;
    color: white;
    background: #ab22a4;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: Tahoma, serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 1s ease;
}

.badge .created {
    font-size: 15px;
    margin-top: 30px;
}

.badge:hover {
    transform: translateY(-130px);
    background: blue;
}

@media print {
    .badge .title-badge {
        display: none;
    }

    .badge .created {
        margin-top: 0px;
    }

    .badge {
        color: black;
        border: 3px solid #ab22a4;
    }
}

button {
    position: relative;
}

button::after {
    position: absolute;
    bottom: 5px;
    left: 50%;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    opacity: 0;
    content: attr(data-tooltip);
    background-color: #ab22a4;
    color: white;
    visibility: hidden;
    transition: all 1s ease;
    transform: translateY(0px) translateX(-50%) scale(0);
}

button:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(-25px) translateX(-50%) scale(1);
}

.bl-row .bl-unbuy {
    display: none;
}

.bl-row.is-bought button {
    display: none;
}

.bl-row.is-bought .bl-unbuy {
    display: inline;
}

.bl-row.is-bought .bl-product, .bl4-bought_products .remaining-label {
    text-decoration: line-through;
}

.number {
    margin-left: 4px;
}